@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

@import "colors.css";
@import "header.css";
@import "home.css";
@import "footer.css";
@import "cart.css";
@import "mediaqueries.css";
body{

background-color: var(--primary);
}

a {
  color: var(--tertiary);
}
/* Scroll To Top Button Styles */
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary);
    backdrop-filter: blur(10px);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    transition:all 0.3s;

  }
  
  .scroll-to-top.visible {
    display: block;
  }
  
  .scroll-to-top:hover {
    background-color:  var(--secondarydark);
    transform: scale(1.1);
  }
  
  .scroll-to-top i {
    font-size: 25px;
  }
  